.header_spans span a,
.header_spans span p {
  padding: 10px 5px;
  text-decoration: none;
  color: #d6cece;
  transition: 0.3s;
  display: inline;
  cursor: pointer;
}
.header_spans span:hover a,
.header_spans span:hover p {
  text-decoration: none;
  color: #dc3545;
}

@media (max-width: 760px) {
  .header_spans span a,
  .header_spans span p {
    padding: 10px 8px;
  }
}

.header_spans span a:global(.active) {
  color: #dc3545;
}
